*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #091E3A 0%, #2F80ED 50%, #2E8EE7 73.25%, #2D9EE0 100%);
    min-height: 100vh;
}

.contenedor{
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
}

.wave{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}
.contenedor-textos{
    flex-basis: 50%;
    padding-left: 40px;
    overflow: hidden;
    color: #ffff;
}

.titulo{
    font-size: 50px;
}

.subtitulo{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
}

.cta{
    display: inline-block;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    background: #ffff;
    border-radius: 5px;
    text-decoration: none;
    color: #091E3A;
}

.contenedor-imagen{
    flex-basis: 50%;
    position: relative;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}

.img{
    width: 95%;
    animation: ilustrationAnimate ease-in 1s infinite alternate;
}

@keyframes ilustrationAnimate{
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.04);
    }
}